venv/
.env
*.env

.idea/
.vscode/
*.iml

__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

*.egg-info/
*.whl
pip-log.txt
pip-delete-this-directory.txt

.DS_Store
Thumbs.db

results/
models_old/
data/tweets_cleaned.csv
*.log
logs/

.ipynb_checkpoints/
